// Specific CSS for your home-page
#home-page {
  // padding: 100px;
  font-family: $mont;
  // width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    color: $darker;

  }

  .line {
    border-top: 3px solid $marron;
    width: 100px;
    padding-bottom: 25px;
  }
}

// .container {
//   margin: 0;
//   padding: 0;
//   width: 100%;
// }
a {
  text-decoration: none;
  :hover {
    opacity: 0,6;
  }
}
.title {
  h1 {
    padding-left: 20px;
    padding-top: 20px;
  }
  .line {
    margin-left: 20px;
  }

  // #project, #cv, #footer {
  //   max-width: 1200px;
  // }
}

.centeer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin-left: auto;
  //  margin-right: auto;
}


#header {
  background: url("header.png") no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;

  .en-fr {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 4px;
    
    img {
      width: 30px;
      text-align: right;
      margin: 0px 3px;
      padding: 0px 2px;
      border: 1px solid transparent;
      border-radius: 15px;
    }

    a.active {
      img {
        width: 35px;
        padding: 0px 2px;
        border: 1px solid white;
      }

    }
  }
  

  #name-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    
    #name {
      display: flex;
      justify-content: center;
      color: white;
      font-weight: 300;
      font-family: $mont;
      font-size: 6vw;
      max-width: 100vw;
    }
  
    #job-title {
      color: white;
      border: 1,5px solid white;
      // padding: 5px 20px;
      display: flex;
      justify-content: center;
      // margin: 100px;
      font-weight: 200;
      font-family: $mont;
      font-size: 3vw;

      h2 {
        margin: 5px 20px;
      }

    }
  }
} 

.about-btn {
  // text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-weight: 600;


  svg {
    width: 100px;
    height: auto;
    fill: white;
  }
}

.first-part, .second-part, .third-part, .last-part {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.first-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  
  img {
    // margin-top: 100px;
    width: auto;
    height: 340px;
    object-fit: cover;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 20px;

  }

  p {
    // display: flex;
    // flex-wrap: wrap;
   
    // column-count: 2;
    // column-width: 340px;
    // column-gap: 20px;
    columns: 2 12em;
    text-align: justify;
    margin-bottom: 0;
  }
}


// .row1, .row2 {
//   margin-right: 50px;
//   opacity: 0;
//   transform: scale(0.1);
//   transition: all 1s ease-in-out;

  
// }
// p.row1.active, p.row2.active {
//   opacity: 1;
//   transform: scale(1);
// }

.about-content p {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  // padding: 20px;
  // max-height: 250px;
  max-width: 44em;
  width: 100vw;
  height: auto;
  padding: 20px;
  // justify-content: center;
  // flex-direction: column;

  // p {
  //   max-width: 340px;
  //   // margin: 0px 10px;
  // }

  // p:last-child {
  //   margin-left: 20px;
  // }
}

#about {
  // margin: 100px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // padding-top: 20px;

  p {
    text-align: justify;
    // padding: 0 20px;
    max-width: 340px;
  }
}

.second-part {
  display: flex;
  // justify-content: space-around;
  // align-items: center;
  flex-wrap: wrap;
  // max-width: 1200px;
}
#project {
  // padding: 100px;
  flex-wrap: wrap;
  width: 100vw;

  h3 {
    color: $marron;
  }
  h4 {
    color: $darker;
    font-size: 20px;
    font-style: italic;
  }
  .project-picture {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

    .line {
      max-width: 340px;
      margin: auto;
      margin-top: 25px;
    }
  
    img {
      // padding: 20px;
      max-width : 500px;
      // min-width: 100vw;
      // box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
      // object-fit: cover;
      // width: auto;
      // max-height: 340px;
      // height: 20em;
      // object-fit: cover;
      width: 100vw;
      padding: 0px 20px;
    }
  }
}

.candiloc, .pets {
  display: flex;
  justify-content: space-around;
  text-align: justify;
  flex-wrap: wrap;
}

.candi-content, .pets-content {
  max-width: 650px;
  margin: 20px;
}
.third-part {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 1200px;
}
#cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin: 100px;
  
  #cv-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    p {
      color: $darker;
    }
  }

  a {
    display: flex;
    justify-content: center;
    color: $darker;
    font-weight: 500;
    border: 2px solid $darker;
    border-radius: 4px;
    padding: 10px 25px;
    width: 250px;
    background-color: white;
  }

  img {
    // height: 10vw;
    height: calc(25px + 5vw);

  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  li {
    display: inline;
    margin: 5px;
  }
  
}

.last-part {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
}

#footer {
  // padding: 0px 100px;
  background: url("header.png") no-repeat;
  width: 100%;
  min-height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  p {
    color:white;
  }

  h1 {
    padding-top: 20px;
  }

  .ad-mail {
    display: flex;
    justify-content: center;
    margin-right: 20px;

    ul {
      // display: flex;
      list-style: none;
      // text-align: center;
      // align-items: center;
    }
    .ad-content {
    //   // display: none;
    //   // display: none;
      text-align: right;
    }
    // .mail-content {
    //   // display: none;
    //   // display: none;
    // }
  }

  .contact-list {
    display: flex;
    justify-content: center;
    // align-items: center;
    // text-align: right;
    // margin-top: auto;
    // margin-bottom: auto;
    ul {
      display: flex;
      padding: 0px;

      // align-items: center;
    }
    img {
      height: 50px;
    }
    li {
      display: inline;
      margin: 5px;
      text-align: center;
    }
    p {
      font-size: 1em;
      margin-top: 10px;

    }
  }
  .footer-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
  }
}

// #footer {
//   // #address:hover {
//   //   height: 100px;
//   //   p {
//   //     color: red;
//   //   }
//   // }
// }

// #ad {
//   display: none;
//   align-items: center;
// }
