<div id="home-page">
  <div id="header">
    <%= link_to "ENGLISH", english_path , id:"language-link"  %>
    <div id="name-title">
      <h1 id="name">Camille LAGUERRE</h1>
      <h2 id="job-title"> DEVELOPPEUSE WEB FRONT-END JUNIOR </h2>
      <h2 id="job-title"> développeuse web front-end junior</h2>
    </div>
  </div>
  <div id="about">
    <h1>À propos</h1>
    <p>
      Je suis Camille, j'ai grandit en île-de-France, pationnée, la danse a rythmé ma vie. <br/>
      À mes 30 ans, je me lance un nouveau défit : passer la frontière Suisse et repartir de zéro.<br/>
      Nouveau pays, nouvel environnement, pourquoi ne pas se fixer de nouveaux objectifs ?<br/>
      Après 5 ans à la SNCF, je me sentais prête à bouleverser ma carrière et me voici lancée dans <br/>
      la formation du Wagon pour être développeuse web.
    </p>
    <p>
      Ces 6 mois de formation m'ont permis de développer mon savoir technique et mon sens de l'écoute. <br/>
      Cela me pationne et me donne envie d'en apprendre encore plus.<br/>
      Je suis maintenant prête à acquérir une première expérience professionnelle.
    </p>
  </div>

</div>
