<h1>ENGLISH VERSION</h1>

<p>
  I'm Camille, I grew up in the Paris region, passionate, dance has punctuated my life. <br/>
  When I turn 30, I set myself a new challenge: cross the Swiss border and start from scratch.<br/>
  New country, new environment, why not set new goals?<br/>
  After 5 years at the SNCF, I felt ready to turn my career upside down and here I am launched in <br/>
  Le Wagon training to be a web developer.<br/>
  <br/>
  These 6 months of training allowed me to develop my technical knowledge and my listening skills. <br/>
  It bothers me and makes me want to learn even more.<br/>
  I am now ready to acquire a first professional experience.
  </p>